@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
  font-family: 'toyler';
  src: local('toyler'),
    url('./fonts/toyler.woff') format('woff');
}

@font-face {
  font-family: 'streets';
  src: local('streets'),
    url('./fonts/streets.woff') format('woff');
}